
#container {
    width: 75%;
    margin: 0px auto;
    margin-top: 30px;
    background: rgb(252, 252, 252);
    padding: 25px;
    box-shadow: 0px 0px 2px gray;
  }

.hed{
    background: rgb(46, 99, 245);
    color: beige;
}

h2{
  color: rgb(35, 91, 245);
}

.title{
  color: #445CFC;
}

.boton {
  background-color: #286fda;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  color: beige;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
}

.fot{
  background: rgb(0, 0, 0);
  
}
